@model GroupWrapper

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <h1>Welcome to the Group Maker</h1>
            </div>
            <div class="col-sm-2">
                <a href="/logout">Log Out</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <table class="table">
                    <thead>
                        <th>Group:</th>
                        <th>Start Date:</th>
                        <th>End Time:</th>
                        <th>Guests:</th>
                        <th>Actions:</th>
                    </thead>
                    <tbody>
                        @foreach(Group group in Model.AllGroups)
                        {
                            <tr>
                                <td><a href="/groups/@group.GroupId">@group.GroupMemberOne & @group.GroupMemberTwo</a></td>
                                <td>@group.Date.Value.ToString("MM dd yy @ HH:mm")</td>
                                <td>@group.Time.Value.ToString("MM dd yy @ HH:mm")</td>
                                <td>@group.GuestsAttending.Count</td>
                                <td>
                                    @if(group.UserId==Model.LoggedUser.UserId)
                                    {
                                        <a href="/groups/@group.GroupId/edit"><button class="btn btn-primary">Edit</button></a> 
                                        <a href="/groups/@group.GroupId/delete"><button class="btn btn-danger">Delete</button></a>
                                    }
                                    else if(group.GuestsAttending.Any(r => r.UserId == Model.LoggedUser.UserId))
                                    {
                                        <a href="/groups/@group.GroupId/unrsvp"><button class="btn btn-secondary">Un-RSVP</button></a>
                                    }
                                    else
                                    {
                                        <a href="/groups/@group.GroupId/rsvp"><button class="btn btn-primary">RSVP</button></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <a href="/groups/new" class="col-sm-4 offset-sm-8"><button class="btn btn-primary">Add a New Group</button></a>
        </div>
    </div>
</body>
</html>